body          {font-family:'Helvetica Neue', Helvetica, Arial, sans-serif;text-align:justify}
h1            {font-family:'Helvetica Neue', Helvetica, Arial, sans-serif;font-size:250%;font-weight:normal;margin-bottom:0;}
h2            {font-family:'Helvetica Neue', Helvetica, Arial, sans-serif;font-size:170%;font-weight:normal;margin-bottom:0;}
td            {padding:0px 30px 0px 10px}
table,th,td   {border-collapse:collapse;vertical-align:top;text-align:justify}
html, body    {border:0px;margin:0px;padding:0px;}
a.menu:link   {color:black;text-decoration:none;}
a.menu:visited{color:black;text-decoration:none;}
a.menu:hover  {color:black;text-decoration:underline;}
a.menu:active {color:black;text-decoration:none;}
a:link        {color:#0069d6;text-decoration:none}
a:visited     {color:#0069d6;text-decoration:none;}
a:hover       {color:#00438a;text-decoration:underline}
.tab          {display:flex;              flex-flow:row      wrap;width:100%;align-items:flex-start;margin-top:50px}
.row          {display:flex;flex:1 1 auto;flex-flow:row    nowrap}
.col1         {display:flex;flex:1 1 auto;flex-flow:column nowrap;min-width:3px;}
.col2         {display:flex;flex:1 1 auto;flex-flow:column nowrap;max-width:800px}
table.round   {width:100%;
               border-collapse:separate;
              }
td.round      {width:100%;min-width:100%;
               padding:30px 30px 30px 30px;
               border-collapse:separate;
               border: 2pt solid black;
               border-radius:10px;
               -moz-border-radius:10px;
              }
.picandcontact{display:flex;flex:1}
.pic          {width:35%;min-width:230px}
.contact      {width:65%;text-align:left}

/*HEADER*/
.line1        {display:inline;}
.line2        {display:inline;}
.space1       {display:inline;}
.space2       {display:inline;}
td.header     {width:100%;text-align:left;vertical-align:middle;height:50px;min-width:1000px}
@media screen and (max-width: 600px) {
.picandcontact{display:block;flex:0}
.pic          {width:100%;min-width:100%}
.contact      {width:100%}
}


/*MOBILE*/
@media only screen and (max-device-width: 1000px) {
.line1        {display:block;}
.space1       {display:none;}
td.header     {height:65px}
.tab          {margin-top:65px}
}
@media only screen and (max-device-width: 600px) {
.tab          {display:flex;              flex-flow:row      wrap;width:100%;min-width:100px;align-items:flex-start;margin-top:80px;}
.col1         {display:flex;flex:1 1 auto;flex-flow:column nowrap;min-width:3px;}
.col2         {display:flex;flex:1 1 auto;flex-flow:column nowrap;min-width:95%;max-width:95%;}
h1            {font-size:150%}
h2            {font-size:120%;font-weight:bold;}
#content      {float:none;width:100%;}
#navigation   {float:none;width:auto;}
.picandcontact{display:block;flex:0}
.pic          {width:100%;min-width:100%}
.contact      {width:100%}
.line1        {display:block;}
.space1       {display:none;}
td.header     {height:65px}
.line2        {display:block;}
.space2       {display:none;}
td.header     {height:80px}
}
